//============================================= Imports ==================================================
@import '_utilities';
/*========================================================================================================*/
/*================================================= Team =================================================*/
/*========================================================================================================*/
.team{
  &__img{
    object-fit: cover;
  }
  &__img-wrapper{
    position: relative;
  }
  &__img-wrapper,&__img{
    @include home-section-img-size;
  }
  &__section{
    @include home-section-black-border-wrapper;
  }
  &__text{
    @include home-text-black-border;
    p:not(:last-child){
      margin-bottom: $offset-sm;
    }
  }
  &__title{
    @include home-section-title;
  }
  &__CEO-quote{
    @include home-section-text-on-background;
  }
  .values__card-wrapper{
    height: 100%;
    width: 100%;
    perspective: 2000px;
  }
  .values__card{
    height: 100%;
    transition: all 0.4s;
    transform-style: preserve-3d;
    position: relative;
  }
  .values__card--flipped{
    transform: rotateX(180deg);
  }
  .card__front, .card__back{
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
    cursor: pointer;
    text-align: center;
  }
  .card__front{
    color: $bg-color;
    position: relative;
    z-index: 2;
    transform: rotateX(0deg);
  }
  @for $i from 1 through 3{
    .values__card-#{$i} .card__front{
      background-color: lighten($main-color,$i*5%);
    }
  }
  .card__title{
    font-family: 'Ropa Sans', sans-serif;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    @include text-medium;
  }
  .card__back{
    position: absolute;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: $p-font-size;
    transform: rotateX(180deg);
    text-align: center;
    p{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
/* ------------------- <767px   SECTION ------------------- */
@media only screen and (max-width: 767px) {
  .team {
    margin-top: $offset-md;
    .CEO-quote__img{
      display: none;
    }
    .values__card-wrapper{
      height: 100px;
    }
    .card__back{
      padding: $offset-sm;
    }
  }
}
/* ---------------- >768px SECTION -------------- */
@media only screen and (min-width: 768px){
  .team{
    margin-top: $offset-lg;
    &__CEO-quote{
      display: flex;
      justify-content: space-between;
      .CEO-quote__text{
        padding-left: 25px;
      }
      .CEO-quote__img{
        border-radius: 50%;
      }
    }
    &__values{
      margin-top: $offset-md;
      display: flex;
      justify-content: space-between;
      .values__card-wrapper{
        height: 160px;
      }
      .card__back{
        padding: $offset-sm $offset-md;
      }
    }
  }
}
/* ---------------- >1025px SECTION -------------- */
@media only screen and (min-width: 1025px) {
  .team {
    margin-top: $offset-xlg;
    &__text{
      text-align: left;
    }
    &__img-wrapper{
      grid-column: 3/5;
      grid-row: 1;
    }
    &__section{
      grid-column: 2/3;
      padding: 0 25px 0 0; //overwriting default mixin styling
    }
    &__wrapper {
      @include inner-grid;
    }
    &__CEO-quote{
      grid-column: 2/3;
    }
    &__values{
      grid-column: 3/5;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 0;
      .card__back{
        padding: $offset-sm;
      }
    }
  }
}