/*==================================== Imports ======================================*/
@import 'utilities';
/*==================================== Header ======================================*/
.footer__wrapper{
  margin-top: 25px;
  height: 100px;
  background-color: $main-color;
  color: $bg-color;
}