//============================================= Imports ==================================================
@import '_utilities';
/*========================================================================================================*/
/*============================================= About Us =================================================*/
/*========================================================================================================*/
.home-about{
  &__number--position{
    @include section-number-position(-12px,-19px);
  }
  &__img{
    object-fit: cover;
  }
  &__img-wrapper{
    position: relative;
  }
  &__img-wrapper,&__img{
    @include section-img-size;
  }
  &__section{
    @include section-black-border-wrapper;
  }
  &__text{
    @include text-black-border;
  }
  &__title{
    @include section-title;
  }
  &__CEO-quote{
    @include section-text-on-background;
  }
  .values{
    &__tab-wrapper{
      border-top: $main-color solid 1px;
      border-bottom: $main-color solid 1px;
      display: flex;
      justify-content: space-around;
    }
    &__tab{
      @include home-values-tab;
      &--selected{
        background-color: $main-color;
        color: $secondary-color;
      }
      &--unselected{
        &:hover{
          color: $main-color;
        }
      }
    }
    &__description{
      @include home-values-description;
      &--hidden{
        display: none;
      }
      .values__title, p{
        margin-bottom: 10px;
      }
      .values__title{
        font-weight: bold;
      }
    }
  }
}
/* ------------------- <767px   SECTION ------------------- */
@media only screen and (max-width: 767px) {
  .home-about {
    margin-top: $offset-md;
    .CEO-quote__img{
      display: none;
    }
    .values__tab-wrapper{
      margin-top: $offset-md;
    }
  }
}
/* ---------------- >768px SECTION -------------- */
@media only screen and (min-width: 768px){
  .home-about {
    margin-top: $offset-lg;
    &__CEO-quote{
      display: flex;
      justify-content: space-between;
      .CEO-quote__text{
        padding-left: 25px;
      }
      .CEO-quote__img{
        border-radius: 50%;
      }
    }
    .values__tab-wrapper{
      margin-top: $offset-md;
    }
  }
}
/* ---------------- >1025px SECTION -------------- */
@media only screen and (min-width: 1025px) {
  .home-about {
    margin-top: $offset-xlg;
    &__img-wrapper{
      grid-column: 1/3;
      grid-row: 1;
    }
    &__section{
      grid-column: 3/4;
    }
    &__wrapper {
      @include inner-grid;
    }
    &__CEO-quote{
      grid-column: 3/4;
    }
    &__values{
      grid-column: 1/3;
      grid-row: 2;
      .values__tab-wrapper{
        border-top: none;
        margin-top: 0;
      }
    }
  }
}
/*========================================================================================================*/
/*=============================================== Services ===============================================*/
/*========================================================================================================*/
.services{
  &__number--position{
    @include section-number-position(-8px,-12px);
  }
  &__img{
    object-fit: cover;
  }
  &__img-wrapper{
    position: relative;
  }
  &__img-wrapper,&__img{
    @include section-img-size;
  }
  &__section{
    @include section-black-border-wrapper;
  }
  &__text{
    @include text-black-border;
  }
  &__title{
    @include section-title;
  }
  .card__description{
    text-align: center;
    padding: 15px 5px 0;
    position: relative;
    font-size: $p-font-size;
    line-height: $p-font-size;
    &::before{
      background: $main-color;
      border-radius: 50%;
      content:"";
      height: 3px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
  .card__title{
    @include home-card-title;
  }
  .card__img{
    overflow: hidden;
    margin: 15px 0;
  }
}
/* ------------------- <767px   SECTION ------------------- */
@media only screen and (max-width: 767px) {
  .services{
    margin-top: $offset-md;
    &__card-wrapper{
      margin: $offset-sm auto 0;
      max-width: 530px;
      padding: 0 $offset-sm;
    }
  }
}
/* ---------------- >768px SECTION -------------- */
@media only screen and (min-width: 768px){
  .services{
    margin-top: $offset-lg;
    &__card-wrapper{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 0 $offset-md;
    }
    &__card{
      width: 49%;
    }
  }
}
/* ---------------- >1025px SECTION -------------- */
@media only screen and (min-width: 1025px) {
  .services{
    margin-top: $offset-xlg;
    &__wrapper{
      @include inner-grid;
    }
    &__img-wrapper{
      grid-column: 1/3;
      grid-row: 1;
    }
    &__section{
      grid-column: 3/4;
    }
    &__card-wrapper{
      margin: auto;
    }
    &__card{
      width: 24%;
    }
  }
}
/*========================================================================================================*/
/*=============================================== Projects ===============================================*/
/*========================================================================================================*/
.home-projects{
  &__number--position{
    @include section-number-position(-10px,-15px);
  }
  &__menu-wrapper{
    @include home-projects-menu-wrapper;
  }
  &__section{
    @include section-black-border-wrapper;
  }
  &__text{
    @include text-black-border;
  }
  &__title{
    @include section-title;
  }
  &__projects-menu{
    @include home-projects-menu;
  }
  .projects-menu__item{
    cursor: pointer;
    padding: 5px;
    border-top: $bg-color solid 1px;
    transition: all 0.3s;
    &:last-child{
      border-bottom: $bg-color solid 1px;
    }
    &--selected{
      background-color: $bg-color;
      color: $main-color;
    }
  }
  .recent-projects{
    &__project-wrapper {
      cursor: pointer;
      position: relative;
    }
    &__overlay{
      @include image-overlay;
    }
    &__description-wrapper{
      @include image-description-wrapper;
    }
    &__description{
      @include image-description;
      .recent-projects__title{
        margin-bottom: 10px;
        font-weight: bold;
      }
    }
  }
  &__stats{
    @include home-projects-stats;
    .stats__wrapper{
      width: 24.5%;
    }
    .stats__counter{
      color: $main-color;
      @include text-large;
    }
    .stats__description{
      @include text-medium;
    }
  }
}

/* ------------------- <767px   SECTION ------------------- */
@media only screen and (max-width: 767px) {
  .home-projects{
    margin-top: $offset-md;
    &__recent-projects{
      max-width: 530px;
      margin: 0 auto;
      padding: 0 $offset-sm;
    }
    .recent-projects__project-wrapper{
      margin-top: $offset-sm;
    }
  }
}
/* ---------------- >768px SECTION -------------- */
@media only screen and (min-width: 768px){
  .home-projects{
    margin-top: $offset-lg;
    &__recent-projects{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      grid-gap: 25px;
      margin-top: $offset-md;
    }
  }
}
/* ---------------- >1025px SECTION -------------- */
@media only screen and (min-width: 1025px) {
  .home-projects{
    margin-top: $offset-xlg;
    &__wrapper{
      @include inner-grid;
    }
    &__menu-wrapper{
      grid-column: 1/3;
      grid-row: 1;
    }
    &__section{
      grid-column: 3/4;
    }
    &__recent-projects{
      margin-top: $offset-lg;
    }
  }
}
/*========================================================================================================*/
/*=============================================== Contact ===============================================*/
/*========================================================================================================*/
.contact{
  &__map {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
  }
  &__map iframe, &__map object, &__map embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__number--position{
    @include section-number-position(-8px,-12px);
  }
  &__img{
    object-fit: cover;
  }
  &__img-wrapper{
    position: relative;
  }
  &__img-wrapper,&__img{
    @include section-img-size;
  }
  &__section{
    @include section-black-border-wrapper;
  }
  &__text{
    @include text-black-border;
  }
  &__title{
    @include section-title;
  }
  &__form-wrapper{
    padding: 25px;
    border: 3px black solid;
  }
  &__form-text{
    margin-bottom: 15px;
    text-align: center;
    @include text-medium;
  }
  &__input, &__select, &__text-area{
    display: block;
    width: 100%;
    border: none;
    background: transparent;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 10px 0;
    font-size: 15px;
    line-height: 1.2;
    &::placeholder{
      color: rgba(120, 120, 120, 0.8);
      opacity: 1;
    }
    &:focus + .contact__input-focus::before {
      width: 100%;
    }
  }
  &__field-wrapper{
    width: 100%;
    position: relative;
    border-bottom: solid 2px darken($bg-color,20%);
    margin-bottom: 10px;
    z-index: 1;
  }
  &__input-focus{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    &::before{
      content: "";
      display: block;
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 0;
      height: 2px;
      transition: all 0.4s;
      background: $main-color;
    }
  }
  &__input, &__text-area{
    padding: 10px 5px;
  }
  &__text-area{
    resize: vertical;
    height: 150px;
  }
  &__select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../../../dist/img/icons/drop-down-grey.png") no-repeat calc(100% - 10px);
    cursor: pointer;
    option{
      color: #000;
    }
    &--grey{
      color: rgba(120, 120, 120, 0.8);
    }
  }
  &__submit{
    background: none;
    border: solid $main-color 2px;
    border-radius: 20px;
    box-shadow: 2px 2px 1px lighten($main-color, 20%);
    color: $main-color;
    cursor: pointer;
    display: block;
    font-size: $p-font-size;
    font-weight: bold;
    font-family: 'Ropa Sans', sans-serif;
    line-height: $p-font-size;
    padding: 8px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.4s;
    margin: 20px auto 0;
    width: 120px;
    &:active{
      color: #000 !important;
    }
    &:hover{
      color: #fff;
      background-color: $main-color;
    }
  }
  &__details{
    @include section-text-on-background;
  }
}
/* ------------------- <767px   SECTION ------------------- */
@media only screen and (max-width: 767px) {
  .contact{
    margin-top: $offset-md;
    &__map{
      margin-top: $offset-sm;
      height: 200px;
    }
    &__form-wrapper{
      margin: $offset-sm $offset-sm 0;
    }
  }
}
/* ---------------- >768px SECTION -------------- */
@media only screen and (min-width: 768px){
  .contact{
    margin-top: $offset-lg;
    &__map{
      margin-top: $offset-md;
      height: 250px;
    }
    &__img-wrapper{
      height: 500px;
    }
    &__form-wrapper{
      margin: $offset-md $offset-md 0;
    }
  }
}
/* ---------------- >1025px SECTION -------------- */
@media only screen and (min-width: 1025px) {
  .contact{
    margin-top: $offset-xlg;
    &__map{
      margin-top: $offset-lg;
      height: 350px;
    }
    &__wrapper{
      @include inner-grid;
    }
    &__wrapper{
      @include inner-grid;
    }
    &__img-wrapper{
      grid-column: 1/3;
      grid-row: 1;
    }
    &__section{
      grid-column: 3/4;
    }
    &__details{
      grid-column: 3/4;
    }
    &__form-wrapper{
      width: calc(100% - 25px);
      margin: $offset-lg 0 0 0;
      grid-column: 2/3;
      grid-row: 2;
    }
    &__details-wrapper{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}