//============================================= Imports ==================================================
@import '_utilities';
/*========================================================================================================*/
/*========================================= Projects Intro ===============================================*/
/*========================================================================================================*/
.projects{
  .intro__section{
    @include section-black-border-wrapper;
  }
  .intro__text{
    @include text-black-border;
    p:not(:last-child){
      margin-bottom: $offset-sm;
    }
  }
  .intro__title{
    @include section-title;
  }
  .intro__client-opinions{
    background-color: $main-color;
  }
  .client-opinions__wrapper{
    position: relative;
    overflow: hidden;
  }
  .client-opinions__carousel{
    position: relative;
    top: 0;
    left: 0;
    width: 300%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s;
  }
  .carousel__opinion{
    @include text-medium;
    color: $bg-color;
    text-align: center;
    width: 100%;
  }
  .opinion__name{
    margin-top: 15px;
    font-weight: bold;
    font-family: 'Ropa Sans', sans-serif;
  }
}

/* ------------------- <767px   SECTION ------------------- */
@media only screen and (max-width: 767px) {
  .projects{
    margin-top: $offset-md;
    .intro__client-opinions{
      padding: $offset-sm;
    }
    .opinion__img{
      display: none;
    }
  }
}
/* ---------------- >768px SECTION -------------- */
@media only screen and (min-width: 768px){
  .projects{
    margin-top: $offset-lg;
    .intro__client-opinions{
      padding: $offset-md;
    }
    .carousel__opinion{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .opinion__img{
      border-radius: 50%;
    }
    .opinion__img-wrapper{
      width: 100%;
      max-width: 200px;
    }
    .opinion__text{
      padding-left: 15px;
      width: 100%;
    }
  }
}
/* ---------------- >1025px SECTION -------------- */
@media only screen and (min-width: 1025px) {
  .projects{
    margin-top: $offset-xlg;
    &__intro {
      @include inner-grid;
    }
    .intro__client-opinions{
      grid-column: 1/3;
      grid-row: 1;
      position: relative;
      min-height: 350px;
    }
    .client-opinions__wrapper{
      top: 50%;
      transform: translateY(-50%);
    }
    .intro__section{
      grid-column: 3/4;
    }
  }
}
/*========================================================================================================*/
/*=========================== Architecture Structural Mechanical Landscape ===============================*/
/*========================================================================================================*/
.architecture__section,.structural__section,.mechanical__section, .landscape__section{
  @include section-black-border-wrapper;
}
.architecture__text,.structural__text,.mechanical__text,.landscape__text{
  @include text-black-border;
  p:not(:last-child){
    margin-bottom: $offset-sm;
  }
}
.architecture__title,.structural__title,.mechanical__title,.landscape__title{
  @include section-title;
}
.architecture__gallery,.structural__gallery,.mechanical__gallery,.landscape__gallery{
  @include projects-gallery;
}
.gallery__img-wrapper{
  cursor: pointer;
}
/* ------------------- <767px   SECTION ------------------- */
@media only screen and (max-width: 767px) {
  .projects__architecture,.projects__structural,.projects__mechanical,.projects__landscape{
    margin-top: $offset-md;
  }
  .gallery__img-wrapper{
    margin-bottom: $offset-sm;
  }
}
/* ---------------- >768px SECTION -------------- */
@media only screen and (min-width: 768px){
  .projects__architecture, .projects__structural, .projects__mechanical, .projects__landscape {
    margin-top: $offset-lg;
  }
}
/* ---------------- >1025px SECTION -------------- */
@media only screen and (min-width: 1025px) {
  .projects__architecture, .projects__structural, .projects__mechanical, .projects__landscape {
    margin-top: $offset-xlg;
    @include inner-grid;
  }
  .projects__structural, .projects__landscape{
    justify-items: end;
  }
  .architecture__section, .mechanical__section {
    grid-column: 2/3;
    padding: 0 25px 0 0; //overwriting default mixin styling
  }
  .architecture__gallery, .mechanical__gallery{
    grid-column: 3/5;
  }
  .structural__section, .landscape__section{
    grid-column: 3/4;
    grid-row: 1;
  }
  .structural__gallery, .landscape__gallery{
    grid-column: 1/3;
  }
}
/*========================================================================================================*/
/*============================================= Lightbox =================================================*/
/*========================================================================================================*/
.projects__lightbox{
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: none;
}
.lightbox__wrapper{
  position: relative;
  max-width: 1600px;
}
.lightbox__img-wrapper{
  position: relative;
}
.lightbox__images{
  margin: 0 auto;
  position: relative;
}
.lightbox__thumbnail{
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.4s;
  &--selected{
    opacity: 1.0;
  }
}
.lightbox__description{
  @include text-medium;
  color: $bg-color;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  p:not(:last-child){
    margin-bottom: 15px;
  }
  p:last-child{
    margin-bottom: 25px;
  }
}
.description__title{
  font-weight: bold;
  margin: 25px 0 15px;
}
.lightbox__close{
  color: $bg-color;
  font-weight: bold;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  user-select: none;
  &:hover{
    color: darken($bg-color,20%);
  }
}
.lightbox__arrow{
  color: $bg-color;
  position: absolute;
  top: 50%;
  cursor: pointer;
  user-select: none;
  transform: translateY(-50%);
  transition: all 0.4s;
  &--left{
    left:0;
    border-radius: 0 10px 10px 0;
  }
  &--right{
    right:0;
    border-radius: 10px 0 0 10px;
  }
  &:hover{
    background-color: rgba(0,0,0,0.8);
  }
}
/* ------------------- <767px   SECTION ------------------- */
@media only screen and (max-width: 767px) {
  .lightbox__wrapper{
    padding: 0 $offset-sm;
  }
  .lightbox__images{
    max-width: 600px;
    padding-top: 45px;
  }
  .lightbox__thumbnails-wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
  .lightbox__close{
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 1.9em;
  }
  .lightbox__arrow{
    font-size: 1.6em;
    padding: 10px;
  }
}
/* ---------------- >768px SECTION -------------- */
@media only screen and (min-width: 768px){
  .lightbox__wrapper{
    padding: 0 $offset-md;
  }
  .lightbox__images{
    max-width: 1025px;
    display: flex;
    justify-content: space-between;
    padding-top: 65px;
  }
  .lightbox__img-wrapper{
    width: 80%;
  }
  .lightbox__thumbnails-wrapper{
    display: block;
    margin-left: 25px;
    margin-top: 0;
    width: 20%;
  }
  .lightbox__close{
    position: absolute;
    top: 20px;
    right: -15px;
    font-size: 2.5em;
  }
  .lightbox__arrow{
    font-size: 1.9em;
    padding: 15px;
  }
}