//==================================== Imports ======================================
  @import 'utilities';
//==================================== Variables ====================================
  $btn-color-1: #fff;
/*=============================== Read More Button =================================*/
.button-read-more{
  border: solid $main-color 3px;
  border-radius: 30px;
  box-shadow: 3px 3px 2px lighten($main-color, 20%);
  font-weight: bold;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  &__link{
    color: $main-color;
    display: block;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s;
    &:active{
      color: #000 !important;
    }
    &:hover{
      color: $btn-color-1;
      text-shadow: 2px 1px darken($main-color,30%);
    }
    &::before,&::after{
      background: $main-color;
      content: '';
      height: 100%;
      opacity: 0.75;
      position: absolute;
      transition: all .5s;
      top: 0;
      width: 0;
      z-index: -1;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
    &:hover::before,&:hover::after {
      width: 100%;
    }
  }
}
/* ------------------- <767px   SECTION ------------------- */
@media only screen and (max-width: 767px) {
  .button-read-more{
    font-size: 1.2em;
    width: 140px;
    margin-bottom: 15px;
    &__link {
      padding: 15px;
    }
  }
} /* ------------------- <767px ------------------ */
/* ---------------- >768px SECTION -------------- */
@media only screen and (min-width: 768px) {
  .button-read-more{
    font-size: 1.4em;
    width: 160px;
    margin-bottom: 25px;
    &__link {
      padding: 20px;
    }
  }
} /* ---------------- >768px -------------- */
/* ---------------- >1025px SECTION -------------- */
@media only screen and (min-width: 1025px) {
  .button-read-more{
    margin-top: 65px;
  }
} /* ---------------- >1025px -------------- */