/*==================================== Variables ====================================*/
$bg-color: #e9e6ed;
$main-color: #E31D3B;
$secondary-color: #FFFFFF;
$h-font-size-lg: 3.2em;
$h-font-size-md: 2.5em;
$h-font-size-sm: 2.0em;
$div-font-size-lg: 1.8em;
$div-font-size-md: 1.4em;
$div-font-size-sm: 1.2em;
$div-line-h-lg: 1.8em;
$div-line-h-md: 1.5em;
$div-line-h-sm: 1.2em;
$p-font-size-md: 1.2em;
$offset-sm: 15px;
$offset-md: 25px;
$offset-lg: 30px;
$offset-xlg: 50px;
/*=============================================== Mixins ===============================================*/
/*=============================================== General ===============================================*/

// mixin for the text with the black border
@mixin home-text-black-border{
  border: black solid 3px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 15px 0 25px;
  padding: 15px;
  text-align: center;
  @media only screen and (max-width: 767px) {
    font-size: $div-font-size-sm;
    line-height: $div-line-h-sm;
  }
  @media only screen and (min-width: 768px) {
    font-size: $div-font-size-md;
    line-height: $div-line-h-md;
  }
  @media only screen and (min-width: 1025px) {
    margin-bottom: 40px;
  }
}
// mixin for the wrapper of text with black border
@mixin home-section-black-border-wrapper{
  @media only screen and (max-width: 767px) {
    padding: 0 15px;
  }
  @media only screen and (min-width: 768px) {
    padding: 0 25px;
  }
  @media only screen and (min-width: 1025px) {
    padding: 0 0 0 25px;
    align-self: center;
  }
}
// mixin for the section title
@mixin home-section-title{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  @media only screen and (max-width: 767px) {
    font-size: $h-font-size-sm;
  }
  @media only screen and (min-width: 768px) {
    font-size: $h-font-size-md;
  }
  @media only screen and (min-width: 1025px) {
    font-size: $h-font-size-lg;
    text-align: left;
  }
}
// mixin for the text on the background
@mixin home-section-text-on-background{
  align-items: center;
  background-color: $main-color;
  color: $bg-color;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  @media only screen and (max-width: 767px) {
    padding: $offset-sm;
    font-size: $div-font-size-sm;
    line-height: $div-line-h-sm;
  }
  @media only screen and (min-width: 768px) {
    padding: $offset-md;
    font-size: $div-font-size-md;
    line-height: $div-line-h-md;
  }
  @media only screen and (min-width: 1025px) {
    padding: $offset-lg;
  }
}
// mixin for inner grid with minmax width of 1140px
@mixin inner-grid{
  display: grid;
  grid-template-columns: 1fr minmax(auto, 570px) minmax(auto, 570px) 1fr;
}
// mixin which control position of the section number on the image
@mixin home-section-number-position ($right-sm, $right-md){
  top:0;
  @media only screen and (max-width: 767px) {
    font-size: 10em;
    right: $right-sm;
  }
  @media only screen and (min-width: 768px) {
    font-size: 15em;
    right: $right-md;
  }
}
// mixin section that controls section image height
@mixin home-section-img-size{
  overflow: hidden;
  @media only screen and (max-width: 767px) {
    height: 300px;
  }
  @media only screen and (min-width: 768px) {
    height: 500px;
  }
}
/*=============================================== About Us ===============================================*/
// mixin for styling values tab
@mixin home-values-tab{
  cursor: pointer;
  width: 100%;
  text-align: center;
  transition: all 0.3s;
  @media only screen and (max-width: 767px) {
    font-size: $div-font-size-sm;
    padding: 15px $offset-sm;
  }
  @media only screen and (min-width: 768px) {
    font-size: $div-font-size-md;
    padding: 15px $offset-md;
  }
}
// mixin for styling values description
@mixin home-values-description{
  animation-name: fade;
  animation-duration: 0.5s;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  @media only screen and (max-width: 767px) {
    font-size: $div-font-size-sm;
    line-height: $div-line-h-sm;
    padding: 15px $offset-sm 0;
  }
    @media only screen and (min-width: 768px) {
    font-size: $div-font-size-md;
    line-height: $div-line-h-md;
    padding: 15px $offset-md 0;
  }
  @media only screen and (min-width: 1025px) {
    padding: $offset-sm;
  }
}
/*=============================================== Services ===============================================*/
@mixin home-card-description{
  text-align: center;
  padding: 15px 5px 0;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $p-font-size-md;
  line-height: $p-font-size-md;
}
@mixin home-card-title{
  text-align: center;
  font-weight: bold;
  @media only screen and (max-width: 767px) {
    font-size: $div-font-size-lg;
    margin-top: 20px;
  }
  @media only screen and (min-width: 768px) {
    font-size: $h-font-size-sm;
    margin-top: 25px;
  }
}
@mixin home-card-img{
  overflow: hidden;
  margin: 15px 0;
}