//==================================== Variables ====================================
$bg-color: #e9e6ed;
$main-color: #E31D3B;
$secondary-color: #FFFFFF;
$h-font-size-lg: 3.2em;
$h-font-size-md: 2.5em;
$h-font-size-sm: 2.0em;
$div-font-size-lg: 1.8em;
$div-font-size-md: 1.4em;
$div-font-size-sm: 1.2em;
$div-line-h-lg: 1.8em;
$div-line-h-md: 1.5em;
$div-line-h-sm: 1.2em;
$p-font-size-md: 1.2em;
$p-font-size-sm: 1.0em;
$offset-sm: 15px;
$offset-md: 25px;
$offset-lg: 30px;
$offset-xlg: 50px;
//==================================== General Styling ====================================
.inner{
  max-width: 1140px;
  margin: 0 auto;
}
.img{
  &-responsive{
    width: 100%;
    height: auto;
    display: block;
  }
  &__number{
    color: #e9e6ed;
    font-family: 'Ropa Sans', sans-serif;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
.title__slash{
  color: $main-color;
}
.text__bold{
  font-weight: bold;
}
html{
  box-sizing: border-box;
}
*,*:before,*:after{
  box-sizing: inherit;
}
body{
  background-color: $bg-color;
  font-family: 'Ropa Sans', sans-serif;
}
a{
  text-decoration: none;
}
@keyframes fade {
  from {opacity: 0.5}
  to {opacity: 1}
}
//=============================================== Mixins ===============================================
//=============================================== General ===============================================
// mixin for the text with the black border
@mixin home-text-black-border{
  border: black solid 3px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 15px 0;
  padding: 15px;
  text-align: center;
  @media only screen and (max-width: 767px) {
    font-size: $div-font-size-sm;
    line-height: $div-line-h-sm;
  }
  @media only screen and (min-width: 768px) {
    font-size: $div-font-size-md;
    line-height: $div-line-h-md;
    margin-bottom: 25px;
  }
  @media only screen and (min-width: 1025px) {
    margin-bottom: 40px;
  }
}
// mixin for the wrapper of text with black border
@mixin home-section-black-border-wrapper{
  @media only screen and (max-width: 767px) {
    padding: 0 15px;
  }
  @media only screen and (min-width: 768px) {
    padding: 0 25px;
  }
  @media only screen and (min-width: 1025px) {
    padding: 0 0 0 25px;
    align-self: center;
  }
}
// mixin for the section title
@mixin home-section-title{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  @media only screen and (max-width: 767px) {
    font-size: $h-font-size-sm;
  }
  @media only screen and (min-width: 768px) {
    font-size: $h-font-size-md;
  }
  @media only screen and (min-width: 1025px) {
    font-size: $h-font-size-lg;
    text-align: left;
  }
}
// mixin for the text on the background
@mixin home-section-text-on-background{
  align-items: center;
  background-color: $main-color;
  color: $bg-color;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  @media only screen and (max-width: 767px) {
    padding: $offset-sm;
    font-size: $div-font-size-sm;
    line-height: $div-line-h-sm;
  }
  @media only screen and (min-width: 768px) {
    padding: $offset-md;
    font-size: $div-font-size-md;
    line-height: $div-line-h-md;
  }
}
// mixin for inner grid with minmax width of 1140px
@mixin inner-grid{
  display: grid;
  grid-template-columns: 1fr minmax(auto, 570px) minmax(auto, 570px) 1fr;
}
// mixin which control position of the section number on the image
@mixin home-section-number-position ($right-sm, $right-md){
  top:0;
  @media only screen and (max-width: 767px) {
    font-size: 10em;
    right: $right-sm;
  }
  @media only screen and (min-width: 768px) {
    font-size: 15em;
    right: $right-md;
  }
}
// mixin section that controls section image height
@mixin home-section-img-size{
  overflow: hidden;
  @media only screen and (max-width: 767px) {
    height: 300px;
  }
  @media only screen and (min-width: 768px) {
    height: 500px;
  }
}
//=============================================== About Us ===============================================
// mixin for styling values tab
@mixin home-values-tab{
  cursor: pointer;
  width: 100%;
  text-align: center;
  transition: all 0.3s;
  @media only screen and (max-width: 767px) {
    font-size: $div-font-size-sm;
    padding: 15px $offset-sm;
  }
  @media only screen and (min-width: 768px) {
    font-size: $div-font-size-md;
    padding: 15px $offset-md;
  }
}
// mixin for styling values description
@mixin home-values-description{
  animation-name: fade;
  animation-duration: 0.5s;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  @media only screen and (max-width: 767px) {
    font-size: $div-font-size-sm;
    line-height: $div-line-h-sm;
    padding: 15px $offset-sm 0;
  }
    @media only screen and (min-width: 768px) {
    font-size: $div-font-size-md;
    line-height: $div-line-h-md;
    padding: 15px $offset-md 0;
  }
  @media only screen and (min-width: 1025px) {
    padding: $offset-sm;
  }
}
//=============================================== Services ===============================================
// styling for card description
@mixin home-card-description{
  text-align: center;
  padding: 15px 5px 0;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $p-font-size-md;
  line-height: $p-font-size-md;
}
// styling for card title
@mixin home-card-title{
  text-align: center;
  font-weight: bold;
  @media only screen and (max-width: 767px) {
    font-size: $div-font-size-lg;
    margin-top: 20px;
  }
  @media only screen and (min-width: 768px) {
    font-size: $h-font-size-sm;
    margin-top: 25px;
  }
}
// styling for card image
@mixin home-card-img{
  overflow: hidden;
  margin: 15px 0;
}
//=============================================== Projects ===============================================
// styling for menu wrapper
@mixin home-projects-menu-wrapper{
  background-color: $main-color;
  overflow: hidden;
  position: relative;
  @media only screen and (max-width: 767px) {
    height: 300px;
  }
  @media only screen and (min-width: 768px) {
    height: 500px;
  }
}
// styling for recent projects menu
@mixin home-projects-menu{
  color: $bg-color;
  position: absolute;
  text-align: right;
  @media only screen and (max-width: 767px) {
    font-size: $div-font-size-lg;
    top: 80px;
    left: 15px;
  }
  @media only screen and (min-width: 768px) {
    font-size: $h-font-size-sm;
    top: 250px;
    right: 25px;
  }
}
// styling for home projects stats
@mixin home-projects-stats{
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-weight: bold;
  @media only screen and (max-width: 767px) {
    padding-left: $offset-sm;
    padding-right: $offset-sm;
    margin-top: $offset-sm;
  }
  @media only screen and (min-width: 768px) {
    padding-left: $offset-md;
    padding-right: $offset-md;
    margin-top: $offset-md;
  }
  @media only screen and (min-width: 1025px) {
    margin-top: $offset-lg;
    padding: 0;
  }
}
//styling for stats counter
@mixin home-stats-counter{
  color: $main-color;
  @media only screen and (max-width: 767px) {
    font-size: $h-font-size-sm;
  }
  @media only screen and (min-width: 768px) {
    font-size: $h-font-size-md;
  }
  @media only screen and (min-width: 1025px) {
    font-size: $h-font-size-lg;
  }
}
//styling for stats description
@mixin home-stats-description{
  font-family: 'Source Sans Pro', sans-serif;
  @media only screen and (max-width: 767px) {
    font-size: $div-font-size-sm;
    line-height: $div-line-h-sm;
  }
  @media only screen and (min-width: 768px) {
    font-size: $div-font-size-md;
    line-height: $div-line-h-md;
  }
}
@mixin home-project-overlay{
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: opacity 0.5s;
  opacity: 0;
}
@mixin home-project-description-wrapper{
  border: $bg-color solid 3px;
  transition: opacity 1s;
  opacity: 0;
  @media only screen and (max-width: 767px) {
    height: calc(100% - 30px);
    width: calc(100% - 30px);
    margin: 15px auto;
  }
  @media only screen and (min-width: 768px) {
    height: calc(100% - 50px);
    width: calc(100% - 50px);
    margin: 25px auto;
  }
}
@mixin home-project-description{
  color: $bg-color;
  opacity: 0;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 1.5s;
  font-size: $p-font-size-md;
  line-height: $p-font-size-md;
  @media only screen and (max-width: 767px) {
    padding: 15px;
  }
  @media only screen and (min-width: 768px) {
    padding: 25px;
  }
}
//=============================================== Contact ===============================================
@mixin home-contact-form-fields{
  display: block;
  width: 100%;
  border: none;
  background: transparent;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 10px 0;
  font-size: 15px;
  line-height: 1.2;
}
@mixin home-form-text{
  margin-bottom: 15px;
  text-align: center;
  @media only screen and (max-width: 767px) {
    font-size: $div-font-size-sm;
    line-height: $div-line-h-sm;
  }
  @media only screen and (min-width: 768px) {
    font-size: $div-font-size-md;
    line-height: $div-line-h-md;
  }
}
@mixin send-button{
  background: none;
  border: solid $main-color 2px;
  border-radius: 20px;
  box-shadow: 2px 2px 1px lighten($main-color, 20%);
  color: $main-color;
  cursor: pointer;
  display: block;
  font-size: $p-font-size-sm;
  font-weight: bold;
  line-height: $p-font-size-md;
  padding: 8px;
  position: relative;
  text-transform: uppercase;
  transition: all 0.4s;
  margin: 20px auto 0;
  width: 120px;
  &:active{
    color: #000 !important;
  }
  &:hover{
    color: #fff;
    background-color: $main-color;
  }
}