/*==================================== Variables ====================================*/
$bg-color: #e9e6ed;
$main-color: #E31D3B;
$secondary-color: #FFFFFF;
$h-font-size-lg: 3.2em;
$h-font-size-md: 2.5em;
$h-font-size-sm: 2.0em;
$div-font-size-lg: 1.4em;
$div-font-size-md: 1.4em;
$div-font-size-sm: 1.2em;
$div-line-h-lg: 1.5em;
$div-line-h-md: 1.5em;
$div-line-h-sm: 1.2em;
$p-font-size-md: 1.2em;
$offset-sm: 15px;
$offset-md: 25px;
$offset-lg: 30px;
$offset-xlg: 100px;
/*==================================== Mixins ====================================*/
@mixin home-section-text-font{
  @media only screen and (max-width: 767px) {
    font-size: $div-font-size-sm;
    line-height: $div-line-h-sm;
  }
  @media only screen and (min-width: 768px) {
    font-size: $div-font-size-md;
    line-height: $div-line-h-md;
  }
  @media only screen and (min-width: 1025px) {
    font-size: $div-font-size-lg;
    line-height: $div-line-h-lg;
  }
}
@mixin home-text-black-border{
  border: black solid 3px;
  margin: 15px 0;
  padding: 15px;
  text-align: center;
}
@mixin home-section-title{
  font-weight: bold;
  font-family: 'Ropa Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  @media only screen and (max-width: 767px) {
    font-size: $h-font-size-sm;
  }
  @media only screen and (min-width: 768px) {
    font-size: $h-font-size-md;
  }
  @media only screen and (min-width: 1025px) {
    font-size: $h-font-size-lg;
    text-align: left;
  }
}
@mixin home-section-text-on-background{
  align-items: center;
  background-color: $main-color;
  color: $bg-color;
  text-align: center;
}
@mixin inner-grid{
  display: grid;
  grid-template-columns: 1fr minmax(auto, 570px) minmax(auto, 570px) 1fr;
}
@mixin home-section-number-position ($right-sm, $right-md){
  top:0;
  @media only screen and (max-width: 767px) {
    font-size: 10em;
    right: $right-sm;
  }
  @media only screen and (min-width: 768px) {
    font-size: 15em;
    right: $right-md;
  }
}
@mixin home-section-outer-padding{
  @media only screen and (max-width: 767px) {
    padding: 15px;
  }
  @media only screen and (min-width: 768px) {
    padding: 25px;
  }
  @media only screen and (min-width: 1025px) {
    padding: 30px 0 30px 25px;
  }
}
@mixin home-section-img-size{
  overflow: hidden;
  @media only screen and (max-width: 767px) {
    height: 300px;
  }
  @media only screen and (min-width: 768px) {
    height: 500px;
  }
}