/*==================================== Imports ====================================*/

@import 'partials/reset';
@import 'partials/_header';
@import 'partials/_read-more-btn';
@import 'partials/_utilities';

/*==================================== General ====================================*/
.inner{
  max-width: 1140px;
  margin: 0 auto;
}
.img{
  &-responsive{
    width: 100%;
    height: auto;
  }
  &__number{
    color: #e9e6ed;
    font-family: 'Ropa Sans', sans-serif;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
.title__slash{
  color: $main-color;
}
html{
  box-sizing: border-box;
}
*,*:before,*:after{
  box-sizing: inherit;
}
body{
  background-color: $bg-color;
}
a{
  text-decoration: none;
}
p{
  font-family: 'Source Sans Pro', sans-serif;
}
@keyframes fade {
  from {opacity: 0.5}
  to {opacity: 1}
}
/*========================================================================================================*/
/*=============================================== About Us ===============================================*/
/*========================================================================================================*/
.about-us{
  &__number--position{
    @include home-section-number-position(-12px,-19px);
  }
  &__img{
    object-fit: cover;
  }
  &__img-wrapper{
    position: relative;
  }
  &__img-wrapper,&__img{
    @include home-section-img-size;
  }
  &__section{
    @include home-section-outer-padding;
  }
  &__text{
    @include home-text-black-border;
    @include home-section-text-font;
  }
  &__title{
    @include home-section-title;
  }
  &__CEO-quote{
    @include home-section-text-font;
    @include home-section-text-on-background;
    .CEO-quote__text p:nth-child(2){
      font-weight: bold;
    }
  }
  &__values{
    .values{
     &__tab-wrapper{
       border-top: $main-color solid 3px;
       border-bottom: $main-color solid 3px;
       display: flex;
       font-family: 'Ropa Sans', sans-serif;
       justify-content: space-around;
       margin-top: 30px;
     }
     &__tab{
        cursor: pointer;
        width: 100%;
        text-align: center;
        transition: all 0.2s;
        &--selected{
          background-color: $main-color;
          color: $secondary-color;
        }
        &--unselected{
          &:hover{
            color: $main-color;
          }
        }
     }
     &__description{
       border: darken($bg-color,30%) solid 1px;
       padding: 15px;
       &--hidden{
         display: none;
       }
       .values__title, p{
         margin-bottom: $offset-sm;
       }
       .values__title{
         font-family: 'Ropa Sans', sans-serif;
         font-weight: bold;
       }
     }
    }
  }
}
/* ------------------- <767px   SECTION ------------------- */
@media only screen and (max-width: 767px) {
  .about-us {
    margin-top: $offset-sm;
    .CEO-quote__img{
      display: none;
    }
    .CEO-quote__text{
      padding: $offset-sm;
    }
    &__values{
       .values__tab{
           font-size: $div-font-size-sm;
           padding: 15px $offset-sm;
       }
     }
  }
}
/* ---------------- >768px SECTION -------------- */
@media only screen and (min-width: 768px){
  .about-us {
    margin-top: $offset-md;
    &__CEO-quote{
      display: flex;
      justify-content: space-between;
      padding: 15px $offset-md;
      .CEO-quote__text{
        padding-left: 25px;
      }
      .CEO-quote__img{
        border-radius: 50%;
      }
    }
    &__values{
      .values__tab{
          font-size: $div-font-size-md;
          padding: 15px $offset-md;
      }
      .values__description{
          font-size: $p-font-size-md;
          line-height: $p-font-size-md;
          margin: $offset-md;
      }
    }
  }
}
/* ---------------- >1025px SECTION -------------- */
@media only screen and (min-width: 1025px) {
  .about-us {
    margin-top: $offset-lg;
    &__text, &__CEO-quote{
      text-align: left;
    }
    &__img-wrapper{
      grid-column: 1/3;
      grid-row: 1;
    }
    &__section{
      grid-column: 3/4;
    }
    &__wrapper {
      @include inner-grid;
    }
    &__CEO-quote{
      grid-column: 3/4;
      padding: 15px $offset-lg;
    }
    &__values{
      grid-column: 1/3;
      grid-row: 2;
      .values__tab-wrapper{
        border-top: none;
        margin-top: 0;
      }
      .values__description{
        margin: 15px $offset-lg 0 $offset-lg;
      }
    }
  }
}
/*========================================================================================================*/
/*=============================================== Services ===============================================*/
/*========================================================================================================*/
.services{
  &__number--position{
    @include home-section-number-position(-8px,-12px);
  }
  &__img{
    object-fit: cover;
  }
  &__img-wrapper{
    position: relative;
  }
  &__img-wrapper,&__img{
    @include home-section-img-size;
  }
  &__section{
    @include home-section-outer-padding;
  }
  &__text{
    @include home-text-black-border;
    @include home-section-text-font;
  }
  &__title{
    @include home-section-title;
  }
  &__card-wrapper{
    padding: 0 15px;
  }
  &__card{
    text-align: center;
    .card__description{
      font-family: 'Source Sans Pro', sans-serif;
      margin: 10px;
      padding: 5px;
      position: relative;
      &::before{
        background: $main-color;
        border-radius: 50%;
        content:"";
        height: 3px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }
    .card__title{
      font-family: 'Ropa Sans', sans-serif;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .card__img{
      margin: 10px;
    }
  }
}
/* ------------------- <767px   SECTION ------------------- */
@media only screen and (max-width: 767px) {
  .services{
    &__card-wrapper{
      margin-top: $offset-sm;
    }
    &__card{
      .card__title{
        font-size: $div-font-size-sm;
      }
    }
  }
}
/* ---------------- >768px SECTION -------------- */
@media only screen and (min-width: 768px){
  .services{
    &__card-wrapper{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: $offset-md;
    }
    &__card{
      width: 50%;
      .card__description{
        font-size: $p-font-size-md;
        line-height: $p-font-size-md;
      }
      .card__title{
        font-size: $div-font-size-md;
      }
    }
  }
}
/* ---------------- >1025px SECTION -------------- */
@media only screen and (min-width: 1025px) {
  .services{
    margin-top: $offset-lg;
    &__text{
      text-align: left;
    }
    &__wrapper{
      @include inner-grid;
    }
    &__img-wrapper{
      grid-column: 1/3;
      grid-row: 1;
    }
    &__section{
      grid-column: 3/4;
    }
    &__card-wrapper{
      padding: 0;
    }
    &__card{
      width: 25%;
      .card__title{
        font-size: $div-font-size-lg;
      }
    }
  }
}


.test{
  margin-top: 150px;
}