/*==================================== Imports ====================================*/

@import 'partials/reset';
@import 'partials/_header';
@import 'partials/_read-more-btn';
@import 'partials/_utilities';

/*==================================== General ====================================*/
.inner{
  max-width: 1140px;
  margin: 0 auto;
}
.img{
  &-responsive{
    width: 100%;
    height: auto;
  }
  &__number{
    color: #e9e6ed;
    font-family: 'Ropa Sans', sans-serif;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top:0;
    @media only screen and (max-width: 767px) {
      font-size: 10em;
      right: -12px;
    }
    @media only screen and (min-width: 768px) {
      font-size: 15em;
      right: -19px;
    }
  }
}
html{
  box-sizing: border-box;
}
*,*:before,*:after{
  box-sizing: inherit;
}
body{
  background-color: $bg-color;
}
a{
  text-decoration: none;
}
p{
  font-family: 'Source Sans Pro', sans-serif;
}
@keyframes fade {
  from {opacity: 0.5}
  to {opacity: 1}
}
/*========================================================================================================*/
/*=============================================== About Us ===============================================*/
/*========================================================================================================*/
.about-us{
  &__img{
    object-fit: cover;
  }
  &__img-wrapper{
    position: relative;
  }
  &__text{
    border: black solid 3px;
    margin: 15px 0;
    padding: 15px 25px;
    text-align: center;
  }
  &__title{
    font-weight: bold;
    font-family: 'Ropa Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    .title__slash{
      color: $main-color;
    }
  }
  &__CEO-quote{
    align-items: center;
    background-color: $main-color;
    color: $bg-color;
    padding: 35px;
    text-align: center;
  }
  &__values{

  }
}


/* ------------------- <767px   SECTION ------------------- */
@media only screen and (max-width: 767px) {
  .about-us {
    &__img-wrapper,&__img{
      height: 300px;
    }
    &__text, &__CEO-quote{
      font-size: $p-font-size-sm;
      line-height: $p-line-h-sm;
      padding: 15px;
    }
    &__title{
      font-size: $h3-font-size-sm;
    }
    &__section{
      padding: 15px;
    }
    &__values{

    }
  }
  .CEO-quote__img{
    display: none;
  }
} /* ------------------- <767px ------------------ */
/* ---------------- >768px SECTION -------------- */
@media only screen and (min-width: 768px){
  .about-us {
    &__img-wrapper,&__img{
      height: 500px;
    }
    &__text, &__CEO-quote{
      font-size: $p-font-size-md;
      line-height: $p-line-h-md;
    }
    &__title{
      font-size: $h3-font-size-md;
    }
    &__section{
      padding: 25px;
    }
    &__CEO-quote{
      display: flex;
    }
    &__values{

    }
  }
  .CEO-quote__text{
    padding-left: 25px;
  }
  .CEO-quote__img{
    border-radius: 50%;
  }
} /* ---------------- >768px -------------- */
/* ---------------- >1025px SECTION -------------- */
@media only screen and (min-width: 1025px) {
  .about-us {
    margin-top: $section-space-lg;
    &__text, &__CEO-quote{
      font-size: $p-font-size-lg;
      line-height: $p-line-h-lg;
      text-align: left;
    }
    &__title{
      font-size: $h3-font-size-lg;
      text-align: left;
    }
    &__img-wrapper{
      grid-column: 1/3;
      grid-row: 1;
    }
    &__section{
      grid-column: 3/4;
    }
    &__wrapper {
      display: grid;
      grid-template-columns: 1fr minmax(auto, 570px) minmax(auto, 570px) 1fr;
    }
    &__section{
      padding: 30px 10px 30px 25px;
    }
    &__CEO-quote{
      grid-column: 3/4;
    }
    &__values{
      grid-column: 1/3;
      grid-row: 2;
    }
  }
} /* ---------------- <1025px -------------- */





.test{
  margin-top: 150px;
}